.gray-child,
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
}
.gray-child {
  border-radius: var(--br-5xs);
  background-color: rgba(81, 131, 60, 0.1);
  width: 648px;
  height: 118px;
}
.group-child1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 111px;
  height: 30px;
}
.authentic {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 79px;
  height: 14px;
}
.group-child2,
.rectangle-parent3 {
  position: absolute;
  top: 16px;
  left: 79px;
  width: 111px;
  height: 30px;
}
.group-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 83px;
}
.sailing {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 51px;
  height: 14px;
}
.group-child3,
.rectangle-parent4 {
  position: absolute;
  top: 62px;
  left: 282px;
  width: 83px;
  height: 30px;
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 187px;
}
.connect-with-locals {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 155px;
  height: 14px;
}
.rectangle-parent5,
.tags {
  position: absolute;
  top: 62px;
  left: 79px;
  width: 187px;
  height: 30px;
}
.tags {
  top: 16px;
  left: 23px;
  line-height: 36px;
  font-weight: 600;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 93px;
  height: 14px;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 91px;
  height: 30px;
}
.history3 {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 59px;
  height: 14px;
}
.rectangle-parent6 {
  position: absolute;
  top: 62px;
  left: 381px;
  width: 91px;
  height: 30px;
  cursor: pointer;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 82px;
  height: 30px;
}
.spring {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 14px;
}
.group-child6,
.rectangle-parent7 {
  position: absolute;
  top: 16px;
  left: 472px;
  width: 82px;
  height: 30px;
}
.group-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 108px;
}
.outdoors {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 76px;
  height: 14px;
}
.group-child7,
.rectangle-parent8 {
  position: absolute;
  top: 16px;
  left: 348px;
  width: 108px;
  height: 30px;
}
.group-child7 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate-100);
  width: 126px;
}
.low-budget {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 94px;
  height: 14px;
}
.rectangle-parent9 {
  position: absolute;
  top: 16px;
  left: 206px;
  width: 126px;
  height: 30px;
}
.gray {
  position: relative;
  width: 100%;
  height: 118px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-lato);
}
