.how-to-get1,
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 66px;
  left: 0;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 696px;
  height: 198px;
}
.how-to-get1 {
  top: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-chocolate-100);
  width: 279px;
  height: 50px;
}
.how {
  position: relative;
  width: 100%;
  height: 264px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-lato);
}
