.nav-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 75px;
}
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 2.5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 97.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.link-1,
.link-2,
.link-3,
.link-5 {
  position: absolute;
  width: 3.43%;
  top: calc(50% - 12.5px);
  left: 83.49%;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.link-1,
.link-2,
.link-3 {
  width: 22.11%;
  top: calc(50% - 12px);
  left: 77.89%;
  font-weight: 900;
}
.link-2,
.link-3 {
  width: 14.45%;
  left: 56.5%;
}
.link-3 {
  width: 23.12%;
  left: 27.17%;
}
.link-1-parent,
.link-4 {
  position: absolute;
  left: 0;
}
.link-4 {
  width: 22.69%;
  top: calc(50% - 12px);
  line-height: 24px;
  font-weight: 900;
  display: inline-block;
}
.link-1-parent {
  width: 64.19%;
  top: calc(50% - 12.5px);
  right: 35.81%;
  height: 24px;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 4px;
  left: 1015px;
  width: 19px;
  height: 20.06px;
}
.group-child10 {
  top: 2.96px;
  left: 770px;
  width: 96px;
  height: 22.08px;
}
.group-child11,
.vector-parent {
  position: absolute;
  top: 13px;
  left: 942px;
  width: 11px;
  height: 6px;
}
.vector-parent {
  height: 34.18%;
  width: 79.79%;
  top: 31.65%;
  right: 1.48%;
  bottom: 34.18%;
  left: 18.73%;
}
.rectangle4,
.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8 {
  position: absolute;
  top: 58px;
  left: 241px;
  background-color: var(--color-gray-200);
  width: 40px;
  height: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8 {
  left: 420px;
}
.rectangle6,
.rectangle7,
.rectangle8 {
  left: 624px;
}
.rectangle7,
.rectangle8 {
  left: 769px;
}
.rectangle8 {
  left: 945px;
}
.image-13-icon {
  position: absolute;
  top: -14px;
  left: 0;
  width: 112px;
  height: 78px;
  object-fit: cover;
}
.nav1 {
  position: absolute;
  top: 3px;
  left: 53px;
  width: 1351px;
  height: 79px;
}
.nav {
  position: relative;
  width: 100%;
  height: 82px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-lato);
}
